<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean class="com.github.bourbon.springframework.beans.event.ContextRefreshedEventListener"/>

    <bean class="com.github.bourbon.springframework.beans.event.CustomEventListener"/>

    <bean class="com.github.bourbon.springframework.beans.event.ContextClosedEventListener"/>
</beans>